<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/resources :: headResources('Home')"></head>
<body>
<section class="d-flex justify-content-center">
    <div>
        <nav th:replace="/fragments/navbar :: topNavbar('home')"></nav>
        <h3>Dettaglio film: </h3>
        <div th:text="|Id film: ${movie.id}|"></div>
        <div th:text="|Titolo: ${movie.title}|"></div>
        <a th:href="@{/movies}">Indietro</a>
    </div>
</section>
<th:block th:replace="/fragments/resources :: jsResources"></th:block>
</body>
</html>