<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/resources :: headResources('Home')"></head>
<body>
<section class="d-flex justify-content-center">
    <div>
        <nav th:replace="/fragments/navbar :: topNavbar('songs')"></nav>
        <ul>
            <li th:each="song : ${songs}">
                <span th:text="|${song.id} - ${song.title}|"></span>
                <a th:href="@{|/songs/${song.id}|}">->
                </a>
            </li>
        </ul>
        <a th:href="@{/home}">Indietro</a>
    </div>
</section>
<th:block th:replace="/fragments/resources :: jsResources"></th:block>
</body>
</html>